.tableDiv {
  height: 200px;
  overflow-y: auto;
  scrollbar-color: transparent transparent;
  .heading {
    th {
        background: #e3fcec;
        font-size: 14px;
        &:nth-child(1) {
          border-top-left-radius: 10px;
        }
        &:nth-child(4) {
          border-top-right-radius: 10px;
        }
    }
  }
}